In [358]:
import pandas as pd
df_players= pd.read_csv("input/df_players_ligue1.csv",sep=";")
df_matchs= pd.read_csv("input/df_matchs.csv",sep=";")
df_teams=pd.read_csv("input/df_teams.csv",sep=";")

In [359]:
df_players.drop(["Unnamed: 0"], axis=1, inplace=True)
df_teams.drop(["Unnamed: 0"], axis=1, inplace=True)
df_matchs.drop(["Unnamed: 0"], axis=1, inplace=True)

In [360]:
def func_day(d):
    return d.split()[0]
def func_month(d):
    return d.split()[1]
def func_year(d):
    return d.split()[2]

def win_nul_lost(score):
    if int(score.split("–")[0])>int(score.split("–")[1]):
        return 1 # if score host team is greater than score away team
    elif int(score.split("–")[0])==int(score.split("–")[1]): 
        return 2 # if score host team is equal score away team
    elif int(score.split("–")[0])<int(score.split("–")[1]): 
        return 3 # if score host team is less than score away team

dict_months = {
    "Janvier": "01",
    "Février": "02",
    "Mars": "03",
    "Avril": "04",
    "Mai": "05",
    "Juin": "06",
    "Juillet": "07",
    "Août": "08",
    "Septembre": "09",
    "Octobre": "10",
    "Novembre": "11",
    "Décembre": "12"
}

In [361]:
# Traitment on the df_teams dataframe  
df_teams["date"]=df_teams['date'].map(func_day)+'-'+df_teams['date'].map(func_month).map(dict_months)+'-'+df_teams['date'].map(func_year)
df_teams["team"]=df_teams["team"].str[:-8]
df_teams["budget_transfert"]=df_teams["budget_transfert"].str[1:].str.replace(".","")
df_teams[["attaque","milieu","defense","budget_transfert"]] = df_teams[["attaque","milieu","defense","budget_transfert"]].apply(pd.to_numeric)
df_teams["date"]= pd.to_datetime(df_teams["date"],format="%d-%m-%Y" )

# Traitment on the df_players dataframe  
df_players["date"]=df_players['date'].map(func_day)+'-'+df_players['date'].map(func_month).map(dict_months)+'-'+df_players['date'].map(func_year)
df_players["date"]= pd.to_datetime(df_players["date"],format="%d-%m-%Y" )
df_players["taille"]=df_players["taille"].str[:-3] #taille en centimmètre 
df_players["poid"]=df_players["poid"].str[:-3]#poid en kg 
df_players["valeur"]=df_players["valeur"].str[1:].str.replace(".","")#valeur en €
df_players["salaire"]=df_players["salaire"].str[1:].str.replace(".","") #valeur en €
cols_str_to_num=["taille","poid",'valeur','salaire','controles', 'dribbles', 'marquage','tacle_glisse','tacle_debout', 'engagement', 
                 'reactivite', 'placement','intercept', 'vista', 'discipline', 'passe_centre', 'passe_courte','passe_longue',
                 'phy_acceleration', 'phy_endurance', 'phy_force', ' phy_equilibre', 'phy_vitesse', 'phy_agilite', 'phy_detente',
                 'tir_tete', 'tir_frappe', 'tir_finition', 'tir_loin', 'tir_effet','tir_precision', 'tir_penalty', 'tir_volee', 
                 'gardien_placement','gardien_plongeon', 'gardien_main', 'gardien_pied','gardien_reflexe']
df_players[cols_str_to_num] = df_players[cols_str_to_num].apply(pd.to_numeric)
df_players.rename(columns={'club': 'team'}, inplace=True)

# Traitment on the df_matchs dataframe  
df_matchs["result"]=df_matchs["score"].map(win_nul_lost)

In [362]:
df_matchs["result"]=df_matchs["score"].map(win_nul_lost)

In [367]:
df_teams.head()

,team,date,attaque,milieu,defense,budget_transfert
0,Paris Saint-Germain,2021-01-28,85,83,81,130000000.0
1,Olympique Lyonnais,2021-01-28,78,78,77,44000000.0
2,Olympique de Marseille,2021-01-28,78,77,77,14000000.0
3,AS Monaco,2021-01-28,79,76,76,34500000.0
4,LOSC Lille,2021-01-28,78,78,76,14000000.0

In [368]:
df_players.head()

,player,team,date,taille,poid,meilleur_pied,age,valeur,salaire,controles,...,tir_loin,tir_effet,tir_precision,tir_penalty,tir_volee,gardien_placement,gardien_plongeon,gardien_main,gardien_pied,gardien_reflexe
0,Keylor Navas,Paris Saint-Germain,2021-02-04,185,80,Droit,34,29500000.0,130000.0,19,...,13,11,15,25,11,83,90,83,75,90
1,Alessandro Florenzi,Paris Saint-Germain,2021-02-04,173,67,Droit,29,22500000.0,85000.0,78,...,82,73,78,75,87,11,9,8,10,10
2,Marquinhos,Paris Saint-Germain,2021-02-04,183,75,Droit,26,83500000.0,125000.0,79,...,35,55,32,47,31,10,6,6,12,13
3,Presnel Kimpembe,Paris Saint-Germain,2021-02-04,189,80,Gauche,25,49500000.0,80000.0,78,...,39,50,32,50,33,15,7,8,14,9
4,Layvin Kurzawa,Paris Saint-Germain,2021-02-04,182,74,Gauche,28,10000000.0,60000.0,80,...,62,70,53,54,61,9,14,10,7,15

In [369]:
df_matchs.head()

,date,host_team,away_team,score,host_list_player,away_list_player,result
0,2020-08-21,Bordeaux,Nantes,0–0,"['Josh Maja', 'Remi Oudin', 'Hwang Ui-jo', 'Sa...","['Samuel Moutoussamy', 'Marcus Coco', 'Kalifa ...",2
1,2020-08-22,Dijon,Angers,0–1,"['Aurélien Scheidler', 'Rayan Philippe', 'Moun...","['Wilfried Kanga', 'Casimir Ninga', 'Mathias P...",3
2,2020-08-22,Lille,Rennes,1–1,"['Jonathan David', 'Burak Yılmaz', 'Jonathan I...","[""M'Baye Niang"", 'Flavien Tait', 'Martin Terri...",2
3,2020-08-23,Monaco,Reims,2–2,"['Wissam Ben Yedder', 'Henry Onyekuru', 'Sofia...","['Boulaye Dia', 'Moreto Cassamã', 'Mathieu Caf...",2
4,2020-08-23,Lorient,Strasbourg,3–1,"['Adrian Grbić', 'Pierre-Yves Hamel', 'Yoane W...","['Ludovic Ajorque', 'Mehdi Chahiri', 'Jean-Ric...",1